<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title> ようこそ、Sping-Mybatis-MVCはいかがでしょうか。 </title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="|ただいま追加したのは： ${item}!|" />
</body>
</html>

