<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--   
    ##VERSION## 
-->
<head> 
    <title> ようこそ、Sping-Mybatis-MVCはいかがでしょうか。 </title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
     <table>
      <tr>
        <th>番号</th>
        <th>タイトル</th>
        <th>詳細</th>
      </tr>
      <tr th:each="todo_entry : ${todos}">
        <td th:text="${todo_entry.id}">1</td>
        <td th:text="${todo_entry.title}">残業</td>
        <td th:text="${todo_entry.details}">T_T</td>
      </tr>
    </table>
    <p>
      <div th:insert="~{forms :: new_todo_entry}"></div>
    </p>
</body>
</html>

